<section class="section-about">
  <div class="container">
    <div class="containe-img">
      <img class="img-my-foto" src="./images/about_us/Angelina.webp" alt="Angelina" />
    </div>

    <div class="about-us__text-container">
      <h2 class="title about-us__title" id="about">Обо мне</h2>
      <p class="text-about-us">
        Меня зовут Ангелина, я - кондитер. Мои работы сделаны с любовью, вдохновением и из
        качественных продуктов: натуральное масло, сливки животного происхождения, бельгийский
        шоколад, европейский крем-сыр, пюре из натуральных ягод. Предлагаю Вам ознакомится с моим
        ассортиментом и буду благодарна, если разделите со мной своё важное событие
      </p>
    </div>
  </div>
</section>
