<section class="section">
  <div class="container">
    <h2 class="contact-titel">МОИ КОНТАКТЫ</h2>
    <p class="contact-tel">
      <a class="contact-link" href="tel:+380990098519"> Тел: (099) 009-85-19 </a>
    </p>
    <ul class="contact-list">
      <li class="contact-item">
        <a class="contact-link" href="https://t.me/angelina_ignatieva20" target="_blanc">
          <svg class="contact-svg">
            <use href="./images/sprite.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.instagram.com/cakes_by_ignatieva/"
          target="_blanc"
        >
          <svg class="contact-svg">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="contact-item">
        <a
          class="contact-link"
          href="https://www.instagram.com/cakes_by_ignatieva/"
          target="_blanc"
        >
          <svg class="contact-svg">
            <use href="./images/sprite.svg#icon-viber"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
