<div class="container">
  <div class="container-form">
    <button type="button" class="lightbox__button" data-action="close-lightbox"></button>

    <form class="form" autocomplete="on">
      <h2 class="form-titel">Форма заказа торта</h2>
      <div class="input-div conteiner-div">
        <label class="label label-name" for="name">Ваше Имя</label>
        <input
          class="input input-name"
          id="name"
          name="name"
          type="text"
          placeholder="Ангелина"
          required
          autofocus
        />
      </div>
      <div class="input-div conteiner-div">
        <label class="label label-name" for="telefon">Телефон</label>
        <input
          class="input input-name"
          id="telefon"
          name="telefon"
          type="tel"
          placeholder="0990098519"
          pattern="[0-9]{10}"
          required
        />
      </div>
      <div class="conteiner-div">
        <label class="label" for="date">На какую дату и время нужен торт? </label>
        <input class="input input-date" id="date" type="date" name="date" />
        <input class="input input-time" id="time" type="time" name="time" />
        <!-- <script>
          document.getElementById('date').value = new Date().toISOString().substring(0, 10);
        </script> -->
      </div>
      <div class="conteiner-div">
        <label class="label" for="holiday">Какой праздник в этот день? </label>
        <input
          class="input"
          id="holiday"
          type="text"
          name="text"
          placeholder="День рождение ребенка 5 лет"
        />
      </div>
      <div class="conteiner-div">
        <label class="label" for="cake">Какой декор будет на тортике? </label>
        <input
          class="input"
          id="cake"
          type="text"
          name="text"
          placeholder="Cферы, фигурки из мастики"
        />
        <input class="input-file" id="pick" type="file" multiple="multiple" />
      </div>

      <div class="weight conteiner-div">
        <label for="weight"> Вес торта? (150-200 гр/чел) </label>
        <select id="weight" name="weight" class="weight-input input" required>
          <option>1,5</option>
          <option>2</option>
          <option>2,5</option>
          <option>3</option>
          <option>3,5</option>
          <option>4</option>
          <option>4,5</option>
          <option>5</option>
          <option>Другой</option>
        </select>
      </div>
      <div class="filling conteiner-div">
        <label for="filling"> Начинка торта?</label>
        <select id="filling" name="filling" class="filling-select input" required>
          <option>Неженка</option>
          <option>Black cherry</option>
          <option>Pina Colada</option>
          <option>Exotic</option>
          <option>Орео</option>
          <option>Цитрус-пати</option>
          <option>Сникерс</option>
          <option>Вне сезон</option>
          <option>Груша - дор блю</option>
          <option>Фисташка-малина</option>
        </select>
      </div>
      <div class="radio-button">
        <label class="radio-label">
          <input class="radio-input" type="radio" name="delivery" value="pickup" checked />
          Самовывоз (ул. Дача 55, дом 11)
        </label>
        <label class="radio-label">
          <input class="radio-input" type="radio" name="delivery" value="adress" />
          Адресная доcтавка (100 грн по Харькову или по тарифу такси)
        </label>
      </div>
      <div class="adress-div">
        <input
          class="input input-adress"
          id="adress"
          type="text"
          name="adress"
          placeholder="Ваш адрес для доставки"
        />
      </div>

      <button class="buttonForm" type="submit">Отправить анкету</button>

      <p class="text">
        *Любой декор, включая живые цветы, не входит в стоимость торта и оплачивается отдельно.
      </p>
    </form>

    <div class="post">Спасибо! Ваш заказ принят. В ближайшее время мы с вами свяжемся!</div>
  </div>
</div>
