<div class="container">
  <div class="container-form">
    <button type="button" class="lightbox__button" data-action="close-lightbox"></button>

    <p>Заказать онлайн</p>
    <form class="form">
      <div>
        <label class="label" for="name">Ваше имя</label>
        <input class="input" id="name" name="name" type="text" placeholder="Ваше имя" required />
      </div>
      <div>
        <label class="label" for="telefon">Телефон (в формате: 0990098519)</label>
        <input
          class="input"
          id="telefon"
          name="telefon"
          type="tel"
          placeholder="Телефон 099 009 85 19"
          pattern="[0-9]{10}"
          required
        />
      </div>
      <div>
        <label class="label" for="date">На какую дату нужен торт? </label>
        <input
          class="input"
          id="date"
          type="date"
          name="text"
          value="Выберите дату"
          placeholder="На какую дату нужен торт?"
        />
      </div>
      <div>
        <label class="label" for="holiday">Какой праздник в этот день? </label>
        <input
          class="input"
          id="holiday"
          type="text"
          name="text"
          placeholder="Какой праздник в этот день?"
        />
      </div>
      <div>
        <label class="label" for="cake">Какой декор будет на тортике? </label>
        <input class="input" id="cake" type="text" name="text" placeholder=" " />
      </div>
      <p>
        <select name="list1">
          <option>Какой вес торта? (150-200 гр/чел)</option>
          <option>1,5 (минимальный)</option>
          <option>2</option>
          <option>2,5</option>
          <option>3</option>
          <option>3,5</option>
          <option>большой торт</option>
        </select>
      </p>
      <p>
        <select name="list2">
          <option>Какая начинка торта?</option>
          <option>Неженка</option>
          <option>Black cherry</option>
          <option>Pina Colada</option>
          <option>Exotic</option>
          <option>Орео</option>
          <option>Цитрус-пати</option>
          <option>Сникерс</option>
          <option>Вне сезон</option>
          <option>Груша - дор блю</option>
          <option>Фисташка-малина</option>
        </select>
      </p>

      <button class="buttonForm" type="submit">Отправить анкету</button>
    </form>
    <p>Любой декор, включая живые цветы, не входит в стоимость торта и оплачивается отдельно.</p>

    <div class="post">Ваше сообшение отправлено. В ближайшее время мы с вами свяжемся!</div>
  </div>
</div>
