.section-about {
  padding-top: 15px;
}

.containe-img {
  margin: 0 auto;
  width: 200px;
  object-fit: contain;
  overflow: hidden;
}
.img-my-foto {
  display: block;
  width: 100%;
}
.about-us__title {
  font-weight: 700;
}

.text-about-us {
  text-align: center;
}
