/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(57, 51, 51, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--animation-duration) var(--timing-function);
  outline: none;
  background-image: url('../images/icon-close.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.lightbox__button:hover,
.lightbox__button:focus {
  background-color: rgba(0, 0, 0, 0.5);
}

.container-form {
  position: fixed;
  top: 20px;
  right: 10px;
  bottom: 20px;
  left: 10px;
  z-index: 1000;
  overflow-y: scroll;
  padding: 40px 25px 30px 25px;
  background-color: var(--background-color);
  border-radius: 10px;
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus,
    textarea:focus,
    input:focus {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 720px) {
    width: 500px;
    max-height: 700px;
    margin: 0 auto;
  }
}
.form-titel {
  margin-top: 10px;
  text-align: center;
}
.input {
  width: 100%;
  border: none;
  background: none;
  padding: 5px 0px;
  font-size: 14px;
  border-bottom: 2px solid var(--button-stars-color);
  outline: none;
}

.input-date {
  width: 120px;
}
.input-time {
  width: 70px;
  margin-left: 20px;
}
.label {
  display: block;
  margin-top: 20px;
  color: var(--button-stars-color);
  cursor: text;
}

.input:focus,
.input:active {
  border-bottom: 2px solid #212121;
}
.input-file {
  margin-top: 5px;
}

.weight,
.filling {
  margin-top: 10px;
}

.filling {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: baseline;
}

.filling-select {
  width: 100px;
  max-width: 170px;
  margin-left: 10px;
  margin-top: 5px;
  background: none;
  outline: none;
}
.weight-input {
  margin-left: 10px;
  width: 35px;
  max-width: 80px;
}

.buttonForm {
  cursor: pointer;
  border: none;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;

  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

  margin: 0 auto;
  margin-top: 30px;

  background: none;

  background-color: var(--button-stars-color);
  color: var(--registration-background-color);

  border: 2px solid var(--button-hover-color);
  border-radius: 25px;
}

.buttonForm:hover {
  background-color: var(--registration-background-color);
  color: var(--button-stars-color);
  border: 2px solid var(--button-stars-color);
}

.post {
  display: none;
}
.newPost {
  display: block;
  margin-top: 200px;

  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.notForm {
  display: none;
}

.text {
  margin-top: 20px;
  text-align: center;
}
