.section-logo {
  width: 100%;
  padding-top: 30px;
  height: 250px;
  background-image: linear-gradient(
    to bottom,
    var(--background-header-color),
    var(--background-color)
  );
}
.logo__conteiner {
  margin: 0 auto;
  width: 200px;
}

.logo {
  width: 100%;
}
